<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="App_Title" value="Info Ver：2.11.06"/>
    <add key="App_ConfigFile" value="cfg.xml"/>
    <add key="App_ThreadCount" value="1"/>
    <add key="App_Task_ChkTime" value="300"/><!--单位：秒 -->
    <add key="App_Task_ChkTime_file" value="reg/{0}.tim"/><!--时间配置文件为 reg/run{0}.tim,如果文件里有设置检查周期时间（格式：检查周期（秒为单位）|日|周|小时：分钟），则 app_task_chktime 失效-->
    <add key="App_Task_ChkTime_DfContent" value="5|  |  |"/>
    <add key="App_Task_Lex_Only" value="1"/><!--1:直接运行lex文件，其它：从数据库里读取数据运行-->
    <add key="App_Task_Lex_Only_Path" value="reg/{0}.lex"/>
    <add key="App_Task_Exit" value="[exit]"/>
    <add key="Dll_Db_Work_On" value="1"/>
    <add key="Dll_Db_Timeout" value="600"/>
    <add key="Consol_Show_Title" value="Time period : "/>
    <add key="Consol_Show_TimeFormat" value="yyyy-MM-dd HH:mm:ss"/>

    <!--trade-->
   <!--trade-->
    <add key="DB_Conn_200_CqBoss" value="server=192.168.0.200;uid=root;pwd=hjhh@2013;database=CqBoss"/>
    <add key="DB_Conn_99_CqBoss" value="server=192.168.0.99;uid=tech;pwd=hjhh@2013;database=CqBoss"/>
    <add key="DB_Conn_CqBoss_online" value="server=192.168.0.99;uid=tech;pwd=hjhh@2013;database=Boss_online"/>
    <add key="DB_Conn_loc_Shouxi" value="server=127.0.0.1;uid=root;pwd=root;database=shouxi"/>
    <add key="DB_SQL_200_CqBoss_UserContactInfo_Add" value="INSERT IGNORE INTO  UserContactInfo(Tm,Info,ZoneId,Infolength,PK,PageCount,PageIdx) VALUES(UNIX_TIMESTAMP(NOW()),'{a}',{b},{c},{d},{e},{f});"/>

    <add key="DB_SQL_200_CqBoss_UserContactInfo_Slt" value="SELECT * FROM  UserContactInfo WHERE Done=0  ORDER BY Id limit 1000"/>
    <add key="DB_SQL_200_CqBoss_UserContactInfo_Upt" value="UPDATE UserContactInfo SET DONE=1 WHERE ID=[0]"/>
    <add key="DB_SQL_200_CqBoss_UserContact_Add" value="INSERT IGNORE INTO UserContact(CUST_ADDR_ID,STD_ADDR_ID,CUST_ID,HOST_CUST_ID,OWN_ORG_ID,OWN_CORP_ORG_ID,TRANSFER_STATUS,STD_ADDR_NAME,DOOR_NAME,AUDIT_FLAG,CUST_STATUS,CUST_CODE,CUST_NAME,CUST_LEVEL,CUST_TYPE,CUST_CERT_TYPE,CUST_CERT_NO,IS_HOST,InTime,ParentId) VALUES('[0]','[1]',[2],'[3]','[4]','[5]','[6]','[7]','[8]','[9]','[10]','[11]','[12]','[13]','[14]','[15]','[16]','[17]',UNIX_TIMESTAMP(NOW()),[18])"/>

    <add key="DB_SQL_200_CqBoss_UserContact_Slt" value="SELECT * FROM  UserContact  WHERE Done=0  ORDER BY InTime limit 1000"/>
    <add key="DB_SQL_200_CqBoss_UserContact_Upt" value="Update UserContact SET cust_id_jm='[0]',Done=1 WHERE cust_id=[1]"/>

    <add key="DB_SQL_200_CqBoss_UserContact_Slt_CustIdJm" value="SELECT * FROM UserContact WHERE Done=1 ORDER BY InTime limit 1000"/>
    <add key="DB_SQL_200_CqBoss_UserTelInfo_Add" value="INSERT IGNORE INTO UserTelInfo(Cust_Id,Cust_Id_Jm,Info,InTime) VALUES({a},'{b}','{c}',UNIX_TIMESTAMP(NOW()));Update UserContact SET Done=2 WHERE cust_id={a};"/>

    <add key="DB_SQL_200_CqBoss_UserTelInfo_Slt" value="SELECT * FROM  UserTelInfo WHERE Done=0  ORDER BY InTime limit 1"/>
    <add key="DB_SQL_200_CqBoss_UserTel_Add" value="INSERT IGNORE INTO UserTel(Cust_Id,I_ID,CONT_ID,CONT_NAME,CONT_DFLT_MODE,CONT_MOBILE1,CONT_MOBILE2,CONT_PHONE1,CONT_PHONE2,InTime) VALUES([0],[1],[2],'[3]','[4]','[5]','[6]','[7]','[8]',UNIX_TIMESTAMP(NOW())); Update UserTelInfo SET Done=1 WHERE cust_id=[0]"/>

    <add key="DB_Conn_loc_CqBoss" value="server=192.168.0.200;uid=root;pwd=hjhh@2013;database=CqBoss"/>
    <add key="DB_SQL_loc_CqBoss_Area_Add" value="INSERT IGNORE INTO Area(title,pid,lvid) Values('{0}',{1},{2});"/>
		<add key="DB_SQL_loc_CqBoss_Area_Slt" value="SELECT * FROM  Area WHERE title='{0}' and pid={1}"/>
    
    <!--insert Info_Shot Info_Detail -->
    <add key="Sql_InfoShortDetail_I" value="exec proc_InfoShortDetail_Ins {--cfg_infoid--},'{--cfg_objtitle--}','{--cfg_detail--}','{--cfg_infopic--}',{--cfg_tagid--} ;"/>
    <!--ext taobao para start-->
    <add key="Dll_Taobao_Pid" value="mm_32305426_3450938_13094357"/>
    <add key="taobao_appkey" value="21145224"/>
    <add key="taobao_secret" value="5a0493022babad6323fc02daa8444a2a"/>
    <add key="sessionKey" value="6100b035fd41d550ddc0b2cfa86105b4a152d42d274bbdb932161575"/>
    <add key="taobao_nick" value="lexrbx"/>
    <add key="TaobaokeItemsConvertField" value="click_url,num_iid,commission,commission_rate,commission_num,commission_volume,coupon_rate,keyword_click_url,nick,pic_url,price,shop_click_url,taobaoke_cat_click_url,title,seller_credit_score,volume,desc"/>
    <add key="taobao_url" value="http://gw.api.taobao.com/router/rest"/>
    <add key="outercode" value="30"/>
    <!--ext taobao para end-->
    <!-- reg tag-->
    <add key="RegSysVarTag" value="[$]"/>
    <add key="RegSysAndTag" value="[=]"/>
    <add key="RegSysTag" value="[SYS]"/>
    <add key="RegSysInfTag" value="[INF]"/>
    <add key="RegSysGb2Tag" value="[GB2]"/>
    <add key="RegSysThreadIdTag" value="{--exe_threadid--}"/>
    <add key="RegSysLexNumTag" value="{--exe_lexnum--}"/>
    <add key="RegMainKey" value="{?}"/>
    <add key="RegMainKey_sp1" value="{#}"/>
    <add key="RegMainKey_sp2" value="{&gt;}"/>
    <add key="RegMainKey_sp3" value="{@}"/>
    <add key="RegMainKey_sp4" value="{-}"/>
    <add key="RegMainKey_sp5" value="@"/>
    <add key="RegMainKey_sp6" value="{+}"/>
    <add key="RegMainKey_sp7" value="{|}"/>
    <add key="RegMainKey_sp8" value="{||}"/>
    <add key="RegMainKey_sp9" value="{--}"/>
    <add key="RegMainKey_sp10" value=","/>
    <add key="RegMainKey_sp11" value=";"/>
    <add key="RegMainKey_sp12" value="|"/>
    <add key="RegMainKey_sp13" value="{|||}"/>
    <add key="RegMainKey_sp14" value="{0}"/>
    <add key="RegMainKey_sp15" value="{-@}"/>
    <add key="RegMainKey_sp16" value="{lex}"/>
    <add key="RegMainKey_sp17" value="="/>
    <add key="RegMainKey_sp18" value="\n"/>
    <add key="RegMainKey_sp19" value="#"/>
    <add key="RegMainKey_sp20" value="[["/>
    <add key="RegMainKey_sp21" value="]]"/>
    
    <add key="RegMainKey_sp2_1" value="{\&gt;}"/>
    <add key="RegMainKey_sp3_1" value="{\@}"/>
    <add key="RegMainKey_sp7_1" value="{\|}"/>
    <add key="RegMainKey_sp8_1" value="{\|\|}"/>
    <add key="RegMainKey_sp13_1" value="{\|\|\|}"/>

    
    <add key="RegMainKey_Rep_Split" value="{-}"/>
    <add key="RegDataStrSplit1" value="`^`"/>
    <add key="RegDataStrSplit2" value="`~`"/>
    <add key="RegDataStrSplit3" value="_"/>
    <add key="RegDataStrSplit4" value=" "/>
    <add key="RegMainKeyReplace" value="(?&lt;obj&gt;[\s\S]*?)"/>
    <add key="_RegMainKeyReplace" value="[\s\S]*?"/>
    <add key="RegSysKeyStr1" value="{-id-}"/>
    <add key="Regfolder" value="/regs/"/>
    <add key="StrEn" value="@regS!"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="Sys_Var_Res" value="[var_res]"/>
    <add key="Sys_Var_TmpValue" value="[var_tmpvalue]"/>
    <add key="Sys_Var_http" value="http://"/>
    <add key="RegMainKey_N0" value="[0]"/>
    <add key="RegMainKey_N1" value="[1]"/>
    <add key="RegMainKey_N2" value="[2]"/>
    <add key="RegMainKey_N3" value="[3]"/>
    <add key="RegMainKey_N4" value="[4]"/>
    <add key="RegMainKey_N5" value="[5]"/>
    <add key="RegMainKey_N6" value="[6]"/>
    <add key="RegMainKey_N7" value="[7]"/>
    <add key="RegMainKey_N8" value="[8]"/>
    <add key="RegMainKey_N9" value="[9]"/>
    
    <add key="Cmd_For" value="{@}{for}[0]{||}[1]{|}[2]"/>
    <add key="Cmd_For_Idx" value="[foridx]"/>
    <add key="Cmd_For_Res" value="[forres]"/>
    <add key="Cmd_Shw_Res" value="[var_res]"/>
    <add key="Dbr_For_Idx" value="[dbridx]"/>
    <add key="Dbr_For_Res" value="[dbrres]"/>


    <add key="ConstTag1" value=""/>
    <add key="ConstTag2" value=""/>
    <add key="ConstTag3" value=""/>
    <add key="ConstTag4" value=""/>
    <add key="ConstTag5" value=""/>
    <add key="ConstTag6" value=""/>
    <add key="ConstTag7" value=""/>
    <add key="ConstTag8" value=""/>
    
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
